@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  max-width: 90ch;
  margin: auto;
  padding: 1.5rem;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid black;
  padding: 0.5rem;
}

th {
  border: 1px solid black;
  background: lightgray;
  padding: 0.5rem;
}

table + table {
  margin-top: 2rem;
}

.god {
  border: 1px solid black;
  padding: 0 1rem;
  background: aliceblue;
}

.eje {
  margin-top: 1rem;
  border: 1px solid black;
  padding: 1rem;
  background: lightyellow;
}

.verse {
  text-align: center;
  font-style: italic;
}
